<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Blog</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="#">Daniels Blog</a>
                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                    &#9776;
                </button>
                <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="{{ url_for('blog') }}" class="nav-link">Threads</a></li>
                        <li class="nav-item"><a href="{{ url_for('create_post') }}" class="nav-link">Create</a></li>
                        <li class="nav-item active"><a href="{{ url_for('register') }}" class="nav-link">Register</a></li>
                    </ul>
                    <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                        <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
                        <li class="dropdown order-1">
                            <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">{{ session['username'] }}<span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right mt-2">
                               <li class="px-3 py-2">
                                  <a role="button" class="btn btn-primary btn-block" href="{{ url_for('logout') }}">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>





    <div class="container">
        <form class="form-box p-2 bg-light mt-5 mx-auto" action="" method="post">
            
            <h2 class = "mb-3">Registration Page</h2>

            <div class="form-group">
                <label>First Name:</label>
                <br>
                <input class = "form-control" type="text" name="rfirst" value="{{
              request.form.rfirst }}">
            </div>

            <div class="form-group">
                <label>Last Name:</label>
                <br>
                <input class = "form-control" type="text" name="rlast" value="{{

              request.form.rlast }}">
            </div>

            <div class="form-group">
                <label>Email:</label>
                <br>
                <input class = "form-control" type="text" name="remail" value="{{
              request.form.remail }}">
            </div>

            <div class="form-group">
                <label>Username:</label>
                <br>
                <input class = "form-control" type="text" name="rusername" value="{{
              request.form.rusername }}">
            </div>
            
            <div class="form-group">
                <label>Password:</label>
                <br>
                <input class = "form-control" type="password" name="rpassword" value="{{
              request.form.rpassword }}">
            </div>

            
            <div>
                <input class="btn btn-outline-primary px-4 py-2 my-2" type="submit" value="Submit">
            </div>
            {% if error %}
                <p class="small text-danger p-2 mt-1"> {{ error }} </p> 
            {% else %}
                <p class="small text-danger p-2 mt-1"></p>
            {% endif %}
        </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>

